.quiz-container {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.question {
  padding: 10px;
  margin-bottom: 20px;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid gray;
  border-radius: 25px;
}

.answers {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
}

.answer-button {
  height: 5rem;
  border: 2px solid gray;
  border-radius: 20px;
  overflow: hidden;
  color: rgb(25, 25, 25);
  background: none;
}

#nextButton {
  margin-top: 20px;

  width: 8rem;
  height: 2rem;
  border-radius: 10px;
  background: none;
  color: rgb(25, 25, 25);
  font-weight: 600;
  border: 2px solid gray;
  cursor: pointer;
  outline: none;
}